/*   #FFFFFF  */
/*#2E2F42 navy blue*/
/* #434455 text small*/
/* #F4F4FD footer, studio */
/* #4D5AE5 web*/


/*----mains----*/

:root {
    --primary-text-color: #434455;
    --accent-text-color: #2E2F42;
    --accent: #4D5AE5;
    --soft-white: #F4F4FD;
    --pure-wite: #fff;
    --almost-white: #F5F5F5;
    --blue: #404bbf;
    --footer-text: #E7E9FC;
}

body {
    background-color: var(--pure-wite);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

header {
    background-color: var(--pure-wite);
    border-bottom: 1px solid var(--soft-white);
    max-width: 1440px;
    margin: auto;
}

.link {
    text-decoration: none;
}

/*new code*/

.main-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.link-webstudio {
    color: var(--accent);
    font-family: Raleway, sans-serif;


    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);

    margin: 0;
    padding: 0;


}

ul.site-nav {
    margin: 0;
    padding: 0;

    display: flex;
}

.logo-studio {
    color: var(--accent-text-color);

}



.list {
    list-style: none;
}

/*----navigation----*/


.cont-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: auto;
}
.main-nav {
    display: flex;
}

.address-hed {
    display: flex;
}

ul.site-nav li:not(:first-child) {
    margin-left: 40px;
}

.nav-header:hover,
.nav-header:focus {
    color: var(--blue);
}

.link-webstudio {
    margin-right: 72px;
    
    

}

ul.auth-nav li:not(:first-child) {
    margin-left: 40px;
}

.auth-nav {
    color: var(--primary-text-color);
    font-style: normal;

    font-size: 16px;
    line-height: 1.5;

    
    display: flex;


}



.auth-nav-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.auth-nav .link:hover {
    color: var(--blue)
}

.auth-nav-list:focus {
    color: var(--blue)
}

/*-----hero-----*/

.hero {
    background-color: var(--accent-text-color);
    max-width: 1440px;
    padding: 188px 0;
    margin: auto;
}

.hero-title {
    color: var(--pure-wite);

    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin: 0 auto 48px auto;
   
    width: 496px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: var(--pure-wite);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;

    background-color: var(--accent);
    cursor: pointer;
display: block;
margin: 0 auto;

height: 56px;
width: 169px;
border-radius: 4px;  
padding: 16px, 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--blue)
}

/*----sections and titles----*/

/*-----advantages-----*/

section.advantages ul {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    justify-content: space-between;
}

.advantages li.item {
    width: calc((100% - 30px - 72px)/4);

    padding: 0;
    margin: 0;
}

.advantages-title {
    color: var(--accent-text-color);
    margin: 0;
    padding: 0;

}

.advantages-title-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin: 0;
    padding: 0;
}

.advantages-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;

    margin: 0;
    padding: 0;
}

/*----works----*/

.works ul.list {
    display: flex;
    justify-content: center;
    padding: 0 0 120px 0;
    margin: 0;

}

.works-title {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;

    margin: 0 0 72px 0;
    padding: 0;
}

.works ul.list li:not(:last-child) {
    margin-right: 24px;
}

/*---team-----*/

.team {
    background-color: var(--soft-white);
    padding: 120px 0 120px 0;

}

.team .persons {
    background-color: var(--pure-wite);
    display: block;


}

.team .persons:not(:last-child) {
    margin-right: 24px;

}

.team ul.list {
    display: flex;

    margin: 0;
    padding: 0;
    justify-content: center;
}

.team-title {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;

    margin: 0 0 72px 0;
    padding: 0;

}
.cont-persons {
    width: 232px;
    margin: 32px 16px;

}
.team-title-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;

    margin: 0 0 8px 0;
    padding: 0;
}

.team-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    margin: 0;
    padding: 0;
}

.footer {
    background-color: var(--accent-text-color);
    max-width: 1440px;
    margin: auto;
}

.footer-logo {
    color: var(--accent);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;



}

.f-cont {
    
    
    padding: 100px 0 100px 0;
}


.footer-text {
    color: var(--footer-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: block;
    width: 264px;
    

    

}

.logo-studio-footer {
    color: var(--soft-white);
}

/*-----button---*/
.button {
    color: var(--pure-wite);
    background-color: var(--accent);
    cursor: pointer;
}

.button:hover {
    color: var(--accent);
    background-color: var(--soft-white);

}

/*-----PORTFOLIO----*/


.nav-port {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.nav-button {
    color: var(--accent);
    font-family: "Roboto", sans-serif;

    background-color: var(--soft-white);
    font-weight: 500;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;

    margin-top: 96px;
    margin-bottom: 72px;

    
    padding: 12px 24px;
border: 1px solid var(--footer-text);
    border-radius: 4px;

}

.nav-port li {
    margin: 24px;
    margin-top: 24px;

}

ul.nav-port {
    margin: 0;
    padding: 0;
}

.nav-button:hover,
.nav-button:focus {
    color: var(--pure-wite);
    background-color: var(--blue);
}

div .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -24px 120px -24px;
    padding: 0;
    
    
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;

}

.gallery-container .li-port {
    flex-basis: calc((100% - 30px - 48px)/3);

}

li.li-port {
    margin-top: 24px;
    margin-left: 24px;
}

div.card-thumb {}

.sec-descr {
    border-bottom: 1px solid var(--soft-white);
    border-left: 1px solid var(--soft-white);
    border-right: 1px solid var(--soft-white);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

img {
    display: block;
    max-width: 100%;
}

.gallery-titile-small {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;


    padding: 0;
    margin: 0 0 8px 0;
    
}

.gallery-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;

    margin: 0;
    padding: 0;
    
}
